
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>工具</title>
<link href="http://qn.images.lhqmm.com/test/359c8e85ff8143cc9047acf8088df786.png" rel="shortcut icon">
<!-- 引入样式 element ui-->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.min.js"></script>
 <!-- 先引入 Vue -->
<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
//veujs代码
document.addEventListener('DOMContentLoaded', function() {
        const { createApp, ref } = Vue;
        if (typeof Vue !== 'undefined') {
        createApp({
            compilerOptions: {
                //delimiters: ['${', '}']
            },
            data() {
                return {
                    vuemessage: "导航工具"
                }
            }
            }).mount('#app');
        }
    });
</script>

<style>
    .text {
      font-size: 14px;
    }
  
    .item {
      margin-bottom: 18px;
    }
  
    .clearfix:before,
    .clearfix:after {
      display: table;
      content: "";
    }
    .clearfix:after {
      clear: both
    }
  
    .box-card {
      width: 480px;
    }
  </style>
  
</head>

<body>
<div id="app">
    <link href="favicon.ico" rel="shortcut icon">
    <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>卡片名称</span>
          <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
        </div>
      </el-card>
</div>
</body>

</html>
