
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="referrer" content="strict-origin-when-cross-origin">
<title>工具</title>
<link href="http://www.aith.top/myfiles/assets/myicon.png" rel="shortcut icon">
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.min.js"></script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?18c6201fdd143b6f3b5860806726ef5c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


<style>
    .text {
      font-size: 14px;
    }
  
    .item {
      margin-bottom: 18px;
    }
  
    .clearfix:before,
    .clearfix:after {
      display: table;
      content: "";
    }
    .clearfix:after {
      clear: both
    }
  
    .box-card {
      width: 480px;
    }

    
    table {
      border-collapse: collapse; /* 合并表格边框 */
      border: 1px solid #ccc; /* 设置表格边框样式和颜色 */
    }
    td {
      border: 1px solid #ccc; /* 设置表格边框样式和颜色 */
    }
  </style>
  
</head>

<body>
<div id="app">
    <link href="favicon.ico" rel="shortcut icon">
    <table>
      <tr>
        <td valign="top">
          <table>
            <tr><td><b>工具</b></td></tr>
            <tr><td><a href="http://www.aith.top/tools/files/file_upload_page" target="_blank">快捷文件上传</a></td></tr>
            <tr><td><a href="http://www.aith.top:8086/" target="_blank">PDF工具</a></td></td></tr>
            <tr><td><a href="http://www.aith.top/myfiles/" target="_blank">文件目录myfiles</a></td></td></tr>
			      <tr><td><a href="http://www.aith.top/tools/tools/printjs" target="_blank">printjs</a></td></tr>
            <tr><td><a href="https://clf.lvhuaqiang.top/" target="_blank">Docker代理地址</a></td></tr>
            <tr><td><a href="https://gh.lvhuaqiang.top/" target="_blank">Github代理地址</a></td></tr>
            <tr><td><a href="https://nydia.github.io/" target="_blank">个人博客</a></td></tr>
            <tr><td><a href="https://note.youdao.com/" target="_blank">有道笔记</a></td></tr>
            <tr><td><a href="https://weread.qq.com/" target="_blank">微信读书</a></td></tr>
            <tr><td><a href="https://tool.browser.qq.com/category/doc?ref=www.80dh.cn" target="_blank">腾讯QQ浏览器在线工具类</a></td></tr>
            <tr><td><a href="https://www.json.cn/" target="_blank">JSON格式化</a></td></tr>
            <tr><td><a href="https://tool.browser.qq.com/jsonbeautify.html?ref=www.80dh.cn" target="_blank">JSON格式化</a></td></tr>
            <tr><td><a href="https://www.jyshare.com/front-end/3602/" target="_blank">unicode</a></td></tr>
            <tr><td><a href="https://cn.bing.com/translator?ref=TThis&text=&from=en&to=zh-Hans" target="_blank">微软翻译</a></td></tr>
            <tr><td><a href="https://www.lddgo.net/convert/base64-to-image" target="_blank">base64转图片</a></td></tr>
			      <tr><td><a href="https://md.openwrite.cn/" target="_blank">Markdown文档转为公众号格式</a></td></tr>
			      <tr><td><a href="http://www.aith.top/mysite/" target="_blank">Mysite</a></td></tr>

          </table>
        </td>
        
        <td valign="top">
          <table>
            <tr><td><b>大模型</b></td></tr>
            <tr><td><a href="https://ai-bot.cn/#term-2" target="_blank">AI工具集</a></td></tr>
            <tr><td><a href="https://tongyi.aliyun.com/qianwen/" target="_blank">通义</a></td></tr>
            <tr><td><a href="https://kimi.moonshot.cn/" target="_blank">Kimi</a></td></tr>
            <tr><td><a href="https://chatgpt.com/gpts" target="_blank">chatgpt</a></td></tr>
            <tr><td><a href="https://yiyan.baidu.com/" target="_blank">文心一言</a></td></tr>

          </table>
        </td>

        <td valign="top">
          <table>
            <tr><td><b>快捷下载</b></td></tr>
            <tr><td><a href="https://jdk.java.net/java-se-ri/16" target="_blank">OpenJDK16源码下载</a></td></tr>
            <tr><td><a href="https://jdk.java.net/java-se-ri/17-MR1" target="_blank">OpendJDK17 linux安装包下载</a></td></tr>
          </table>
        </td>

        <td valign="top">
          <table>
            <tr><td><b>IT资讯</b></td></tr>
            <tr><td><a href="https://spring.io/projects/spring-boot#learn" target="_blank">SpringBoot</a></td></tr>
            <tr><td><a href="https://tech.meituan.com/" target="_blank">美团技术</a></td></tr>
            <tr><td><a href="http://www.aliresearch.com/cn/index" target="_blank">阿里巴巴出品的研究报告</a></td></tr>
            <tr><td><a href="https://www.analysys.cn/" target="_blank">易观分析：以海量数字用户资产及算法模型为核心的大数据分析工具、产品及解决方案</a></td></tr>

          </table>
        </td> 

        <td valign="top">
          <table>
            <tr><td><b>IT资源</b></td></tr>
            <tr><td><a href="https://www.iconfont.cn/" target="_blank">iconfont</a></td></tr>
        
          </table>
        </td>

      </tr>
    </table>

</div>
</body>

</html>
