<div id="app">
  ${ vuemessage }
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.min.js"></script>
  <script>
  //veujs代码
  document.addEventListener('DOMContentLoaded', function() {
        const { createApp, ref } = Vue;
        if (typeof Vue !== 'undefined') {
          createApp({
            compilerOptions: {
              delimiters: ['${', '}']
            },
            data() {
              return vuemessage
            }
           }).mount('#app');
        }
      });
  </script>
  