<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page_title}}</title>
{% load static %}
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    /*background-color:#eeeeee;*/
    height:550px;
    width:200px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
    position:fixed; bottom:0;
    width: 100%;
}
</style>
</head>
<body>
	<div id="header">
		<h1>文件上传</h1>
	</div>
	<div id="nav">
	</div>
	<div id="section">
		<div id="uploadPosi" style="border:1px solid red; width:400px; height:300px;"></div
		<form action="/files/file_upload_page" method="get">
			<input type="text" name="q" style="width: 270px;"/> <input type="submit" value="搜索" />
		</form>
	</div>
	<div id="footer">{{copyright}}</div>
	
	<script type="text/javascript">
	    $(document).ready(function(){
			
	    });
	</script>
</body>
</html>