
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="referrer" content="strict-origin-when-cross-origin">
<title>时间工具</title>
<link href="http://www.aith.top/myfiles/assets/myicon.png" rel="shortcut icon">

<!--
<script src="/static/js/custom/page.js" ></script>
<script src="/static/js/custom/util.js" ></script>
-->

<script src="../../../static/js/custom/page.js" ></script>
<script src="../../../static/js/custom/util.js" ></script>


<style>
</style>
  
</head>

<body>
  
  <div id="app">   
      
  </div>

</body>

</html>
